# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://biswoctezxmkirsubxbi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpc3dvY3Rlenhta2lyc3VieGJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyMDg5MjQsImV4cCI6MjA1OTc4NDkyNH0.i3ain1LgySCrTxVKdEfsVE33UkJYvPE2pB-wNSn1wT4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpc3dvY3Rlenhta2lyc3VieGJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDIwODkyNCwiZXhwIjoyMDU5Nzg0OTI0fQ.fWggCq2bSgO2Dm6Of7jMTlW1uTrBu4dcg5XSxuePeok

# Backblaze B2
B2_KEY_ID=09d1032992d2
B2_APPLICATION_KEY=00478e80289162cdedccb6dc237b5bc7510fb4911f
B2_BUCKET_NAME=cmb-capital-pedidos

# Google Gemini (lido do banco — este é o fallback)
GEMINI_API_KEY=sua_chave_gemini_aqui

# Session (gere uma string aleatória segura de 32+ chars)
SESSION_SECRET=868647d7bf3aca00817681e2616733994902e61ef89a13f2

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
